<form [formGroup]="maintenanceForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Request Maintenance</mat-card-title>
    <mat-card-content>
      <mat-label>Description</mat-label>
      <mat-form-field>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="8"
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <div>
        <mat-label>Permission to enter: </mat-label>
        <mat-radio-group formControlName="permissionToEnter">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button type="submit" color="primary" [disabled]="maintenanceForm.invalid">Create</button>
      <button mat-stroked-button type="button" color="accent" (click)="goBack()">Go Back</button>
    </mat-card-actions>
  </mat-card>
</form>
