<div class="row">
  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Request Maintenance
      </div>
      <div class="card-block">
        <!-- <div class="card-title">
          Block
        </div> -->
        <div class="card-text">
          <form>
            <!-- <a href="javascript:;" class="" (click)="backClicked()">Go Back</a> -->
            <section class="form-block">
              <!-- <label>Request Maintenance</label> -->
              <div class="form-group">
                <label class="font-weight-bold" for="description">Description</label>
                <textarea id="description" name="description" rows="5" #description="ngModel" [(ngModel)]="model.description" required></textarea>
              </div>
              <!-- <div class="form-group">
                <label class="font-weight-bold" for="aForm_1">Photos</label>
                <input type="file" accept="image/*" multiple id="aForm_1" placeholder="Enter value here" size="45">
              </div> -->
              <div class="form-group">
                <label class="font-weight-bold">Do we have permission to enter the unit with our key?</label>
                <div class="radio-inline">
                  <input type="radio" name="gridRadios1" id="checkrads_11">
                  <label for="checkrads_11">Yes</label>
                </div>
                <div class="radio-inline">
                  <input type="radio" name="gridRadios1" id="checkrads_12">
                  <label for="checkrads_12">No</label>
                </div>
              </div>
              <!-- <button type="submit" class="btn btn-primary" [clrLoading]="false">Submit</button> -->
            </section>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary">Create</button>
        <!-- <button class="btn btn-sm btn-secondary">Reset Password</button> -->
        <button class="btn btn-sm btn-link" (click)="goBack()">Go Back</button>
      </div>
    </div>
  </div>
</div>



<!-- <form>
  <a href="javascript:;" class="" (click)="backClicked()">Go Back</a>
  <section class="form-block">
    <label>Request Maintenance</label>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" rows="5" #description="ngModel" [(ngModel)]="model.description" required></textarea>
    </div>
    <div class="form-group">
      <label for="aForm_1">Photos</label>
      <input type="file" accept="image/*" multiple id="aForm_1" placeholder="Enter value here" size="45">
    </div>
    <div class="form-group">
      <label>Do we have permission to enter the unit with our key?</label>
      <div class="radio-inline">
        <input type="radio" name="gridRadios1" id="checkrads_11">
        <label for="checkrads_11">Yes</label>
      </div>
      <div class="radio-inline">
        <input type="radio" name="gridRadios1" id="checkrads_12">
        <label for="checkrads_12">No</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [clrLoading]="false">Submit</button>
  </section>
</form> -->
