<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Account Details
      </div>
      <div class="card-block">
        <!-- <div class="card-title">
          Block
        </div> -->
        <div class="card-text">
          <form>
            <section class="form-block">
              <!-- <label>Email</label> -->
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" size="45">
              </div>
              <div class="form-group">
                <label>Email Reminders:</label>
                <div class="toggle-switch">
                  <input type="checkbox" id="email_reminders">
                  <label for="email_reminders"></label>
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="aForm_2">Another form field</label>
                <input type="password" id="aForm_2" placeholder="Enter another value here" size="35">
              </div> -->
              <!-- <div class="form-group">
                <label for="aForm_3">A select box</label>
                <div class="select">
                  <select id="aForm_3">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                            </select>
                </div>
              </div> -->
              <!-- <div class="form-group">
                <label for="aForm_4">Textarea</label>
                <textarea id="aForm_4" rows="5"></textarea>
              </div> -->
              <!-- <button type="submit" class="btn btn-primary">Button</button> -->
            </section>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary">Update</button>
        <button class="btn btn-sm btn-link">Go Back</button>
      </div>
    </div>
  </div>
</div>
