
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$property-management-primary: mat-palette($mat-indigo);
$property-management-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$property-management-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$property-management-theme: mat-light-theme($property-management-primary, $property-management-accent, $property-management-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($property-management-theme);

@import url('./_flex.scss');
@import url('./_utility.scss');
@import url('./_text.scss');

$red: #f52f22;
$pink: #f1428a;
$purple: #781da0;
$ultramarine: #343dac;
$blue: #0065ab;
$cyan: #00b7d6;
$teal: #00968b;
$green: #48960c;
$yellow: #ffdc0b;
$orange: #f57600;
$red-orange: #ee4a08;
$warm-grey: #80746d;
$neutral-grey: #747474;
$cool-grey: #61717d;

.announcement {
  background-color: $yellow;
}

.address {
  background-color: $red !important;
}

.maintenance {
  background-color: $ultramarine !important;
}

.lease {
  background-color: $green !important;
}

.pointer {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
