<mat-card>
  <mat-card-title>Account Details</mat-card-title>
  <mat-card-content>
    <div class="form-item">
      <mat-label>Email</mat-label>
      <mat-form-field>
        <input matInput type="email" />
      </mat-form-field>
    </div>
    <div class="form-item">
      <mat-label>Email Reminders</mat-label>
      <mat-checkbox></mat-checkbox>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button type="button" color="primary">Update</button>
    <button mat-stroked-button type="button" color="accent">Reset Password</button>
  </mat-card-actions>
</mat-card>
