<!-- <h2>Payments Component!</h2>

<clr-datagrid>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Date
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Description
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Paid By
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Charge
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Payment
    </ng-container>
  </clr-dg-column>

  <clr-dg-row >
    <clr-dg-cell>payment.date</clr-dg-cell>
    <clr-dg-cell>payment.description</clr-dg-cell>
    <clr-dg-cell>payment.paid_by</clr-dg-cell>
    <clr-dg-cell>payment.charge</clr-dg-cell>
    <clr-dg-cell>payment.amount</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row >
    <clr-dg-cell>payment.date</clr-dg-cell>
    <clr-dg-cell>payment.description</clr-dg-cell>
    <clr-dg-cell>payment.paid_by</clr-dg-cell>
    <clr-dg-cell>payment.charge</clr-dg-cell>
    <clr-dg-cell>payment.amount</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row >
    <clr-dg-cell>payment.date</clr-dg-cell>
    <clr-dg-cell>payment.description</clr-dg-cell>
    <clr-dg-cell>payment.paid_by</clr-dg-cell>
    <clr-dg-cell>payment.charge</clr-dg-cell>
    <clr-dg-cell>payment.amount</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row >
    <clr-dg-cell>payment.date</clr-dg-cell>
    <clr-dg-cell>payment.description</clr-dg-cell>
    <clr-dg-cell>payment.paid_by</clr-dg-cell>
    <clr-dg-cell>payment.charge</clr-dg-cell>
    <clr-dg-cell>payment.amount</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row >
    <clr-dg-cell>payment.date</clr-dg-cell>
    <clr-dg-cell>payment.description</clr-dg-cell>
    <clr-dg-cell>payment.paid_by</clr-dg-cell>
    <clr-dg-cell>payment.charge</clr-dg-cell>
    <clr-dg-cell>payment.amount</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row >
    <clr-dg-cell>payment.date</clr-dg-cell>
    <clr-dg-cell>payment.description</clr-dg-cell>
    <clr-dg-cell>payment.paid_by</clr-dg-cell>
    <clr-dg-cell>payment.charge</clr-dg-cell>
    <clr-dg-cell>payment.amount</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row >
    <clr-dg-cell>payment.date</clr-dg-cell>
    <clr-dg-cell>payment.description</clr-dg-cell>
    <clr-dg-cell>payment.paid_by</clr-dg-cell>
    <clr-dg-cell>payment.charge</clr-dg-cell>
    <clr-dg-cell>payment.amount</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-row >
    <clr-dg-cell>payment.date</clr-dg-cell>
    <clr-dg-cell>payment.description</clr-dg-cell>
    <clr-dg-cell>payment.paid_by</clr-dg-cell>
    <clr-dg-cell>payment.charge</clr-dg-cell>
    <clr-dg-cell>payment.amount</clr-dg-cell>
  </clr-dg-row>


  <clr-dg-footer></clr-dg-footer>
</clr-datagrid> -->
