<h2>Payments Component!</h2>

<clr-datagrid>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Date
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Description
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Paid By
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Charge
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      Payment
    </ng-container>
  </clr-dg-column>
  ...

  <clr-dg-row >
    <clr-dg-cell>payment.id</clr-dg-cell>
    <clr-dg-cell>payment.name</clr-dg-cell>
    <clr-dg-cell>payment.name</clr-dg-cell>
    <clr-dg-cell>payment.name</clr-dg-cell>
    <clr-dg-cell>payment.name</clr-dg-cell>
    ...
  </clr-dg-row>

  <clr-dg-footer></clr-dg-footer>
</clr-datagrid>
