<!-- Container for sidebar(s) + page content -->
    <ng-sidebar-container>

      <!-- A sidebar -->
      <ng-sidebar 
        [(opened)]="_opened"
        mode="push"
        autoCollapseWidth=500>
        
        <p>Sidebar contents</p>
        <p>Sidebar contents</p>
        <p>Sidebar contents</p>
        <p>Sidebar contents</p>
        <p>Sidebar contents</p>

      </ng-sidebar>

      <!-- Page content -->
      <div ng-sidebar-content>
        <router-outlet></router-outlet>
        <button (click)="_toggleSidebar()">Toggle sidebar</button>
      </div>

    </ng-sidebar-container>
