<mat-toolbar class="header" color="primary">
  <button *ngIf="isMobile" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Toggle sidenav">menu</mat-icon>
  </button>
  <span> </span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="user">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button aria-label="main menu" [matMenuTriggerFor]="mainMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item>About</button>
    <button mat-menu-item>Preferences</button>
    <button mat-menu-item (click)="logout()">Log out</button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #drawer [mode]="drawerMode" [opened]="!isMobile">
    <div class="d-flex justify-content-center">
      <a mat-button routerLink="/connect/home">
        <img width="125px" src="../../assets/images/logo_transparent.png" alt="logo" />
      </a>
    </div>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let link of navLinks"
        [routerLink]="link.url"
        (click)="isMobile ? drawer.toggle() : null"
      >
        <mat-icon matListIcon>{{ link.icon }}</mat-icon> {{ link.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
