<clr-main-container>
    <clr-header class="header-6">
        <div class="branding">
            <a routerLink="/connect/home" class="nav-link">
                <!-- <clr-icon shape="vm-bug"></clr-icon> -->
                <span class="title">Property Management</span>
            </a>
        </div>
        <!-- <div class="header-nav" [clr-nav-level]="2">
            <a href="..." class="nav-link nav-icon">
                <clr-icon shape="cloud"></clr-icon>
            </a>
            <a href="..." class="active nav-link nav-icon">
                <clr-icon shape="folder"></clr-icon>
            </a>
        </div> -->
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="user"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="..." clrDropdownItem>About</a>
                    <a href="..." clrDropdownItem>Preferences</a>
                    <a href="..." clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-header>
    <div class="content-container">
        <main class="content-area">
            <router-outlet></router-outlet>
        </main>
        <clr-vertical-nav [clr-nav-level]="1" [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapsed">
            <a clrVerticalNavLink routerLink="/connect/home" routerLinkActive="active"><clr-icon clrVerticalNavIcon shape="home"></clr-icon> Home</a>
            <a clrVerticalNavLink routerLink="/connect/payments" routerLinkActive="active"><clr-icon clrVerticalNavIcon shape="wallet"></clr-icon> Payments</a>
            <a clrVerticalNavLink routerLink="/connect/maintenance" routerLinkActive="active"><clr-icon clrVerticalNavIcon shape="wrench"></clr-icon> Maintenance</a>
            <a clrVerticalNavLink routerLink="/connect/documents" routerLinkActive="active"><clr-icon clrVerticalNavIcon shape="file"></clr-icon> Documents</a>
            <a clrVerticalNavLink routerLink="/connect/property" routerLinkActive="active"><clr-icon clrVerticalNavIcon shape="info-standard"></clr-icon> Property Info</a>
            <a clrVerticalNavLink routerLink="/connect/users/edit" routerLinkActive="active"><clr-icon clrVerticalNavIcon shape="user"></clr-icon> Account Profile</a>
            <a clrVerticalNavLink routerLink="/connect/help" routerLinkActive="active"><clr-icon clrVerticalNavIcon shape="help"></clr-icon> Help</a>
        </clr-vertical-nav>
    </div>
</clr-main-container>