<div class="main-container">
    <header class="header">
        ...
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav>
            <a clrVerticalNavLink routerLink="./charmander" routerLinkActive="active">Charmander</a>
            <a clrVerticalNavLink routerLink="./jigglypuff" routerLinkActive="active">Jigglypuff</a>
            <a clrVerticalNavLink routerLink="./pikachu" routerLinkActive="active">Pikachu</a>
            <a clrVerticalNavLink routerLink="./raichu" routerLinkActive="active">Raichu</a>
            <a clrVerticalNavLink routerLink="./snorlax" routerLinkActive="active">Snorlax</a>
            <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">Credit</a>
        </clr-vertical-nav>
    </div>
</div>
