<button class="btn btn-primary" routerLink="/connect/maintenance/create">Request</button>
<table class="table">
    <thead>
        <tr>
            <th class="left">Date</th>
            <th class="left">Description</th>
            <th class="right">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="left">10/23/2017</td>
            <td class="left">Door handle completely fell off.</td>
            <td class="right">Pending</td>
        </tr>
        <tr>
            <td class="left">10/14/2017</td>
            <td class="left">Bathroom faucet is leaking even when closed all the way.</td>
            <td class="right">Complete</td>
        </tr>
        <tr>
            <td class="left">10/01/2017</td>
            <td class="left">Kitchen cabinet hinge has become detached.</td>
            <td class="right">Complete</td>
        </tr>
        <tr>
            <td class="left">09/18/2017</td>
            <td class="left">Dishwasher is making a whirring sound then shuts down.</td>
            <td class="right">Complete</td>
        </tr>
    </tbody>
</table>
