<div class="cards">
  <!-- CURRENT BALANCE -->
  <div class="card" style="height: 500px;">
    <mat-card style="height: 100%;">
      <mat-card-content>
        <mat-card-title style="display: flex; justify-content: space-between; align-items: center;"
          ><span>Your current balance: <span style="color: #60b515;">$0.00</span></span>
          <mat-icon
            matTooltip="Your balance reflects current and overdue charges, late fees, and any other charges as outlined in your rental agreement"
            >info</mat-icon
          ></mat-card-title
        >
        <div class="card-title d-flex justify-content-even"></div>

        <table style="width: 100%;" mat-table [dataSource]="tableData">
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">{{ element.item }}</td>
          </ng-container>

          <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.amount }}</td> </ng-container
          >app-announcement-list

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary">Pay Now</button>
        <button mat-stroked-button color="accent">Setup Autopay</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- ANNOUNCEMENTS -->
  <div class="card" style="height: 500px;">
    <app-announcement-list></app-announcement-list>
  </div>
  <!-- ADDRESS / MAINTENANCE / LEASE -->
  <div class="card">
    <!-- ADDRESS-->
    <mat-card>
      <mat-card-title>Address</mat-card-title>
      <mat-card-content>
        <address>
          <span>10464 S Jordan Gateway #235</span><br />
          <span>South Jordan, Utah</span><br />
          <span>84095</span>
        </address>
      </mat-card-content>
    </mat-card>
    <!-- MAINTENANCE -->
    <mat-card>
      <mat-card-title>Maintenance</mat-card-title>
      <mat-card-content>
        <span>No open requests</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary">Create</button>
        <button mat-stroked-button color="accent">View</button>
      </mat-card-actions>
    </mat-card>
    <!-- LEASE -->
    <mat-card>
      <mat-card-title>Lease</mat-card-title>
      <mat-card-content>
        <span>View Lease</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary">Online</button>
        <button mat-stroked-button color="accent">Pdf</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- Create Maintanance Request Modal -->
<!-- <clr-modal [(clrModalOpen)]="announcementOpened" [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">{{ selectedAnnouncement?.title }}</h3>
  <div class="modal-body">
    <p>{{ selectedAnnouncement?.body }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="toggleAnnouncement(null)">Back</button>
  </div>
</clr-modal> -->
