<nav mat-tab-nav-bar>
  <a
    mat-tab-link
    routerLink="/connect/account/details"
    routerLinkActive
    #profile="routerLinkActive"
    [active]="profile.isActive"
  >
    Profile
  </a>
  <a
    mat-tab-link
    routerLink="/connect/account/signature"
    routerLinkActive
    #signature="routerLinkActive"
    [active]="signature.isActive"
  >
    Signature
  </a>
  <a
    mat-tab-link
    routerLink="/connect/account/payment_methods"
    routerLinkActive
    #paymentMethod="routerLinkActive"
    [active]="paymentMethod.isActive"
  >
    Payment Methods
  </a>
</nav>
<router-outlet></router-outlet>
