.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/login-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group > button:not(:last-child) {
  margin-bottom: 0.5rem;
}
