<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <label class="title">
        <h1>
          <img width="200px" src="../../assets/images/logo_transparent.png" alt="logo" />
        </h1>
        <h2 class="welcome">Login</h2>
      </label>
      <div class="input-group">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="text" id="email" name="email" #email="ngModel" [(ngModel)]="loginCredentials.email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            id="password"
            name="password"
            #password="ngModel"
            [(ngModel)]="loginCredentials.password"
          />
        </mat-form-field>
        <button mat-flat-button type="submit" color="primary">LOGIN</button>
        <button mat-stroked-button type="button" color="accent">SIGNUP</button>
      </div>
    </mat-card>
  </form>
</div>
